{% extends 'base.html.twig' %}

{% block title %}Town{% endblock %}

{% block body %}
    <h1>{{ town.name }}</h1>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/app/js/chart.js/dist/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/app/js/myChart.js"></script>
    <script type="text/javascript">
        $.post("{{ path('townChart', {'townId': town.id}) }}", function(data) {
            drawMyChart(data)
        })
    </script>
{% endblock %}
