<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/app/css/bootstrap/bootstrap-reboot.min.css">
        <link rel="stylesheet" type="text/css" href="/app/css/bootstrap/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="/app/css/master.css">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-dark text-light">
        {% block body %}{% endblock %}
        <footer class="text-center py-2 bg-secondary mt-5">- DGK - || &#9888; THIS IS NOT REAL DATA &#9888; || - DGK -</footer>
        {% block JSGeneral %}
            <script type="text/javascript" src="/app/js/jquery/dist/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="/app/js/bootstrap.bundle.min.js" type="text/javascript"></script>
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
